@media only screen and (max-width: 768px) {
    header.bg-image-attached{
        background-image: url('../images/responsive/model-image-1.png');
    }
    section.model-05{
        background-image: url('../images/responsive/model-img-5.png');
      }
    
    section.monochrome-section .section-heading{
        font-size: 1.5rem;
        color: black;
        font-weight: 400;
        font-family: Crimson Text;
        text-align: center;
    }

    section blockquote{
        font-size: 1.375rem;
    }

    section.thread-story-section p{
        padding-top: 80%;  
        line-height: 1.5rem;
    }

    section.thread-story-section p{
        font-size: 1.56rem;
        font-family:   Crimson Text;
    }
    section.bg-image-attached.last-section{
        background-image: url('../images/responsive/model-image-13.png');
      }
    button{
        font-size: 1rem !important;
    }
    header, .full-width-model{
        position: sticky !important;
        width: 100%;
        height: 100vh;
        top: 0;
        display: inline-block;
    }
    .grace-section{ background: white; }
}

@media only screen and (max-width: 640px) {
    section.thread-story-section p{
        padding-top: 65%;  
    }
}

@media only screen and (max-width: 400px) {
    section.thread-story-section p{
        padding-top: 55%;  
    }
}

/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 992px) {
    header h1{
        font-size: 3.43rem !important;
        line-height: 4.1rem !important;
    }
    section .section-text{
        font-size: 2.8rem;
    }
    .full-width-model{
        height: auto !important;
    }
    section blockquote{
        font-size: 2.1rem;
    }
    section .style-defined h2, section .emotion-defined h2{
        font-size: 3.75rem;
    }
}

@media (min-width: 768px) {
    .section-image{
        height: 100vh;
    }
    
}
  