* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: Cormorant Infant;
  }
  html {
    scroll-behavior: smooth;
  }

  header{
    position: relative;
  }
 
  .bg-image-attached {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header h1{
    font-family: Cormorant Infant;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section.model-05{
    background-image: url('../images/model-img-5.png');
  }

  section .section-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: 400;
    font-size: 3.75rem;
    font-family: Crimson Text;
  }

  section .style-defined h2, section .emotion-defined h2{
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: Crimson Text;
  }
  section .style-defined p, section .emotion-defined p{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    font-family: Noto Serif SC;
  }

  section blockquote{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    font-family: Crimson Text;
  } section blockquote cite{
    display: block;
    font-size: 2.5rem;
  }

  section .compelling-text h4{
    font-size: 5rem;
    font-style: italic;
    line-height: 3.75rem;
    font-family: Crimson Text;
  }
  section .show-date, section .show-avenue{
    font-family: Cormorant Infant;
  }
  section .show-date p{
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 300;
  }

  section.bg-image-attached.last-section{
    background-image: url('../images/model-img-13.png');
  }
  section.monochrome-section h2, 
  .last-section h1{
    font-family: Crimson Text;
  }

  .last-section .coming-soon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  .absolute img{
    height: 100%;
    width: 100%;
  }
  button {
    background-color: white !important;
    border: 1px solid black;
    padding: 1rem 1.5rem !important;
    text-transform: uppercase !important;
    font-family: Montserrat !important;
    font-weight: 600 !important;
    width: 18rem;
    margin-bottom: 1rem !important;
    font-size: 1.25rem !important;
    display: block;
    margin-right: 0 !important;
    transition: .2s ease-in-out;
  }
  button:hover{
    background: black !important;
    color: white;
  }

  .arrow {
    background: #fff;
    height: 40px;
    width: 3px;
    margin: 0 auto;
    position: relative;
  }
  .arrow:before,
  .arrow:after {
      content: "";
      background: #fff;
      position: absolute;
      height: 3px;
      width: 25px;
    }
  
.arrow:before {
    right: -19px;
    bottom: 7px;
    transform: rotate(-45deg);
}

.arrow:after {
    right: -3px;
    top: 30px;
    transform: rotate(45deg);
}

.indicator{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 10px;
    cursor: pointer;
    transition: display 0.3s ease;
}
.indicator.active{
    background: black;
}
.indicator.active.white-indicator{
  background-color: white;
  border: 2px solid white;
}
.indicator.white-indicator{
  border: 2px solid white;
}


body{
  display: flex;
  flex-wrap: wrap;
}
section{
  position: sticky !important;
  width: 100%;
  height: 100vh;
  top: 0;
  display: inline-block;
}

.site-section{
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
}

.full-section-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-image img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}